@use "variables" as v;

@keyframes whats {

    0%{
transform: translate(0);
 }

 20%{
transform: translate(20px);

 }

 40%{
transform: translate(-20px);

 }

 60%{
transform: translate(0);

 }
}

%vibrar{
    animation: whats 2s infinite ease-in-out;
}

.heartBeat{

        display: inline-block;
        margin: 0 0.5rem;
        animation: heartBeat 8s infinite;
        display: flex;
        height: 20vh;
        width: auto;
        justify-items: center;

}

.animate__heartBeat{

        display: inline-block;
        margin: 0 0.5rem;
        animation: heartBeat 8s infinite;
        animation-duration: 8s; 
        --animate-repeat:infinite;
        display: flex;
        height: 20vh;
        width: auto;
        justify-items: center;


}