@use "variables" as v;


.footer{
    
    display: flex;
    background-color: darkgray;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    // width: 100%;
    

img{
height: 10vh;
    width: 5vw;
}

ul{
display: flex;
    gap: 30px;
    // padding-right: 130px;
    justify-content: center;
li{
    display: flex;
list-style: none;

}

}



}

@include v.mobile{
.footer {




img{
height: auto;
width: 10vw;
}
}

}