@use "variables" as v;


.footer{
    
    display: flex;
    background-color: darkgray;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    // width: 100%;
    

img{
height: 10vh;
    width: 5vw;
}

.fa-instagram{

    font-size: 80px;
}

.fa-x-twitter{

    font-size: 80px;
}


.fa-facebook{

    font-size: 80px;

}

ul{
display: flex;
    gap: 30px;
    // padding-right: 130px;
    justify-content: center;
li{
    display: flex;
list-style: none;

}

}



}

@include v.mobile{
.footer {

.fa-instagram{

    font-size: 25px;
}

.fa-x-twitter{

    font-size: 25px;
}


.fa-facebook{

    font-size: 25px;

}


//  img{
//  height: auto;
// width: 5vw;
// }



}

}