@use "variables" as v;
@use "animations";


.main-gallery{

display: grid;
grid-template-areas:
"maq med cli "
"ca pepe que"

        ;
        gap: 30px;
        justify-content: space-around;
        justify-items: center;
        

        img{
                width: 30vw;
                height:auto;
                border-radius: 15px;


        }

        .maq{

        grid-area: maq;

        }

        .med{
        grid-area: med;

        }

        .cli{
        grid-area: cli;

        }


        .ca{
        grid-area: ca;

        }

        .co{
        grid-area: co;

        }

.que{

        grid-area: que;
}

.pepe{
        grid-area: pepe;
        background-color: v.$primary-color;
        color: v.$background-color;
        border-radius: 15px;

}

}

.animate__heartBeat{

        display: inline-block;
        margin: 0 0.5rem;
        animation: heartBeat 8s infinite;
        animation-duration: 8s; 
        --animate-repeat:infinite;
        display: flex;
        height: 20vh;
        width: auto;
        justify-items: center;


}

.fijado{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    @extend %vibrar;
        img {
            height: 10vh;
            width: 5vw;
}

}
     