@use "variables" as v;
@use "animations";
@use "footer";



                
.main-gallery{
                        grid-template-columns: repeat(3, 1fr);        
                        display: grid;
                        grid-template-areas:
                        "maq med cli" 
                        "que pepe ca";
                        gap: 1rem;
      
        @include v.mobile{
        grid-template-columns: 1fr;     
        grid-template-areas: 
        "maq"
        "med"
        "cli"
        "que"
        "pepe"
        "ca";         
}


                        img{
                                width: 100%;         // que ocupe todo el ancho disponible
                                height: 100%;        // rellena el contenedor
                                object-fit: cover;   // recorta sin deformar
                                border-radius: 12px; // esquinas redondeadas
                                box-shadow: 0 2px 8px rgba(0,0,0,.1);
                                display: block;

                                
                        }

                        .maq{
                        grid-area: maq;
                        }
                        .med{
                        grid-area: med;
                        }
                        .cli{
                        grid-area: cli;
                        }
                        .ca{
                        grid-area: ca;
                        }
                        .que{
                                grid-area: que;
                        }
                        .pepe{
                                grid-area: pepe;
                                background-color: v.$primary-color;
                                color: v.$background-color;
                                border-radius: 5px;
                        }


     



}






     
