@use "variables" as v;
@use "animations";
@use "footer";
@use "reserva";
*{

    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_container{

            display: flex;
            flex-flow: column;
            background-color: v.$background-color;
            align-items: center;
            justify-items: center;
            justify-content:center;
            align-content: space-around;
            padding: 15px;
            border: v.$border;

                                            ///// imagen portada
    .portada {
            gap: 20px;
            width: 60vw;
            height: 70vh;
        }
         .titulo_main {
             font-size: 4rem;
             text-decoration: underline;
             text-align: center;}
        .sibo {
            height: 60vh;
            width: auto;
            font-size: 2rem; }

    .parrafo{
    font-size: 1rem;
    height: 40vh;
    width: 40vw;

    h3{
text-align: center;

    }
}
}


.publicidad{
display: flex;
align-items: center;
justify-content: center;
flex-flow: row;
background-color: v.$background-color;
                
    .img-publicidad{
                width: 15vw;
                height:auto;
                 
    
 }

}

                         /////// Whatsap fijado 
    .fijado{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    @extend %vibrar;


        .img-fijado {
            height: 10vh;
            width: 5vw;


}

}

.animate__heartBeat{

        display: inline-block;
        margin: 0 0.5rem;
        animation: heartBeat 8s infinite;
        animation-duration: 8s; 
        --animate-repeat:infinite;
        display: flex;
        height: 20vh;
        width: auto;
        justify-items: center;


}

@include v.mobile{
.main_container{
    
    .titulo_main{

        font-size: 2rem;
    }
    .portada{
width: 70vw;
            height: auto;
            padding-left: 30px;

    } 

    .sibo{
        width: 50vw;
        height: auto;
    }
}

.publicidad{
height: 50vh;
width: auto;
    flex-flow: column;
.img-publicidad{
    height: 10vh;
    width: auto;
}

}
   .fijado{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;

        .img-fijado{
                height: 5vh;
                width: 10vw;
    }

}




}





